.inicio {
  height: 70vh;
  cursor: grab;
}

.slide {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@keyframes zoomInCenter {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}

.image {
  object-fit: cover;     
  object-position: center;
}

:global(.swiper-slide-active) img {
  animation: zoomInCenter 10s ease-in-out forwards;
}
