.depoimentos {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.depoimentos .swiper-wrapper {
  display: flex;
  padding-bottom: 20px;
}

.swiperPaginationBulletActive {
  background-color: #fff;
}

.depoimentos .swiper-button-next::after {
  color: #fff;
}

.swiperSlider {
  width: 20.295rem;
  height: 19.438rem;
  border-radius: 7px;
  margin-bottom: 7vh;
  list-style: none;
  padding-left: 1.438rem;
  padding-right: 1.438rem;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}

.quotes {
  font-family: 'Plus Jakarta Sans', 'Arial', sans-serif;
  font-size: 6rem;
}

.quotesBelow {
  text-align: end;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: -1rem;
}

.depoimentos blockquote {
  font-size: 1rem;
  margin-top: -3rem;
  height: 8.063rem;
}

.depoimentos cite {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 100%;
  justify-content: center;
  font-style: normal;
  margin-top: -4rem;
  margin-bottom: 0.6rem;
}

.stars {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffe14b;
}

@media (max-width: 600px) and (min-width: 320px) {
  .depoimentos ul li {
    width: 15rem;
    height: 16rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .quotes {
    font-size: 4.375rem;
  }

  .quotesBelow {
    margin-top: -0.3rem;
  }

  .depoimentos blockquote {
    font-size: 0.8rem;
    margin-top: -2.5rem;
    height: 7.5rem;
  }

  .depoimentos cite {
    margin-top: -3.5rem;
    font-size: 0.938rem;
  }

  .stars {
    font-size: 1.3rem;
  }
}
