.description aside {
    width: 70%;
}
.description aside  p{
    text-align: justify;
    margin-bottom: 1rem;
}

.description {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}