.icon {
  color: var(--blue);
  font-size: 2em;
}

.contato {
  padding: 2.5rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: center;
}

.contato h4 {
  color: #000;
  margin: 0 0 1.25rem 0;
}

/* container contato */
.box {
  display: flex;
  gap: 2rem;
  padding: 0 0.7rem;
  align-items: center;
}

.sendEmailMessageBox {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 10vw;
  z-index: -2;
  padding: 1em;
  gap: 1.5em;
}
.sendEmailMessageBox.open {
  background-color: #39ac56;
  transform: translateY(15vh);
  z-index: 20;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.xmark {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

.sendEmailMessageBox h6 {
  color: #fff;
  font-weight: 400;
}

/* formulário */
.contato form {
  background: #fff;
  border-radius: 0.875rem;
  padding: 1.5rem 3%;
  box-shadow: 0 0.375rem 1.125rem rgba(0, 0, 0, 0.08);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  display: block;
  margin: 0.5rem 0 0.375rem;
  font-size: 0.875rem;
  color: #333;
  width: 100%;
  text-align: left;
}

.contato form fieldset {
  width: 95%;
  border: none;
}

.contato form input,
.contato form select,
.contato form textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: 0.0625rem solid #cfd6dd;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  background: #fff;
  margin-bottom: 0.75rem;
  color: #000000a8;
  box-sizing: border-box;
}
.contato form textarea {
  min-height: 6.25rem;
}

.contato form button {
  background: var(--blue);
  color: #fff;
  border: 0;
  border-radius: 0.625rem;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  margin: auto 0;
  width: 12.5rem;
  height: 3.13rem;
  transition: all 0.3s ease-in-out;
}
.contato form button:hover {
  background: #0791ad;
}

/* Mapa */
.contato iframe {
  overflow: hidden;
  box-shadow: 0 0.375rem 1.125rem rgba(0, 0, 0, 0.08);
  margin-bottom: 0.75rem;
  width: 31.25rem;
  height: 30rem;
  border: 0;
  display: block;
}

.contato address h4 {
  text-align: left;
}

.contato address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: normal;
  color: #5c6163;
  padding: 0 0.25rem;
  width: 33%;
}

.contato address ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contato address ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1440px) {
  .sendEmailMessageBox {
    left: 4vw;
  }
}
@media (max-width: 1200px) {
  .contato address ul li h6 {
    font-size: 0.85rem;
  }
  .contato address ul li .icon {
    font-size: 1.5em;
  }
  .contato iframe {
    width: 15rem;
    height: 18rem;
  }
}

@media (max-width: 900px) {
  .box {
    flex-direction: column;
  }

  .sendEmailMessageBox {
    left: auto;
  }

  .contato form {
    width: 85%;
  }

  .contato iframe {
    width: 25rem;
    height: 26rem;
  }

  .contato address {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .sendEmailMessageBox {
    padding: 0.7em;
  }
  .sendEmailMessageBox .xmark{
    font-size: 1.5em;
  }
  .sendEmailMessageBox h6 {
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .box {
    flex-direction: column;
  }
  .contato form {
    width: 90%;
  }
  .contato iframe {
    width: 17.813rem;
    height: 13.438rem;
  }
}
