.pcLogo {
  height: 5rem;
  width: auto;
}
.mobileLogo {
  display: none;
}

.menuIcon {
  display: none;
}

.header {
  padding: 0.8em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2vw;
}

@media (max-width: 900px) {
  .header {
    padding: 0.8em 1em;
  }

  .pcLogo {
    height: 3rem;
  }
  .header nav ul li a h5 {
    font-size: 1.15rem;
  }
}

@media (max-width: 600px) {
  .pcLogo {
    display: none;
  }

  .menuIcon {
    display: flex;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--dark-blue);
    border: none;
  }

  .menuIcon svg{
    color: #FFF;
    height: 100%;
  }

  .header nav {
    display: none;
  }
  .mobileLogo {
    display: flex;
    width: 2.5rem;
    height: auto;
  }
}
