.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

a.not_found{
  color: #fff;
  text-decoration: underline;
}

a.not_found:hover{
  text-decoration: none;
}

h3.title{
  font-size: 2em;
}

p.not_found_message{
  font-size: 1em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {
  padding: 20px;
  border-radius: 8px;

  width: 320px;
  text-align: center;
}