.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box a {
  color: #fff;
  text-decoration: underline;
  font-size: 1.5em;
}

.box a:hover {
  text-decoration: none;
}

.box h1 {
  margin: 0;
}

.box h3 {
  font-size: 2.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box {
  padding: 20px;
  border-radius: 10px;

  text-align: center;
}
