.statusBar {
  width: 100%;
  background-color: var(--dark-blue);
  padding: 1.25rem 0;
}

.statusBar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.statusBar ul li{
  text-align: center;
  margin: 20px;
}

.statusBar ul li h2 {
  color: #fff;
  font-size: 2.83rem; /* tamanho dos números */
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.statusBar ul li span {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1.5rem; /* tamanho do texto */
  display: block; /* faz o texto aparecer abaixo do número */
  font-weight: 300;
}
