@import 'parsleyjs/src/parsley.css';

/* Configurações Iniciais */
:root {
  --background: #ffffff;
  --dark-blue: #076980;
  --blue: #08a6c5;
  --main-font: 'Montserrat', Arial, Helvetica, sans-serif;
  --bold: 400;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--dark-blue);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin-bottom: 8vh;
}

h2 {
  font-size: 2.83rem;
  margin-bottom: 8vh;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p,
blockquote {
  font-family: 'Nunito', 'Arial', sans-serif;
  font-weight: 400;
  text-align: justify;
}

.white-background {
  background-color: transparent;
  color: var(--dark-blue);
}

.blue-background {
  background-color: var(--blue);
  color: #fff;
}

.dark-background {
  background-color: var(--dark-blue);
  color: #fff;
}

.medium {
  font-weight: var(--bold);
}

footer {
  background-color: #f0f0f0;
  color: #000;
}

section {
  margin-bottom: 5vh;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover{
  color: #d6d6d6
}

@media (max-width: 600px) and (min-width: 320px) {
  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.125rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 0.75rem;
  }
}

/* Parsley config */
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  background-color: #FFF;
  border: 1px solid #fc6565 !important;
  margin-bottom: 2px !important;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 0.9em;
  opacity: 0;
  color: #fc6565;
  font-family: var(--main-font);

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
